{
  "openapi": "3.1.0",
  "info": {
    "title": "My Sample API",
    "description": "This is a sample API to demonstrate basic FastAPI functionality.",
    "termsOfService": "http://example.com/terms/",
    "contact": {
      "name": "Support Team",
      "url": "http://example.com/contact/",
      "email": "support@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ubiquitous-guacamole-rq6px7ww7wwhjgv-8080.app.github.dev",
      "description": "Primary API server"
    },
    {
      "url": "https://development.example.com/api",
      "description": "Development API server"
    }
  ],
  "paths": {
    "/process_input": {
      "post": {
        "summary": "Process Input",
        "operationId": "process_input_process_input_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithTypehintInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithTypehintOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WithTypehintInput": {
        "properties": {
          "arg1": {
            "type": "string",
            "title": "Arg1"
          },
          "arg2": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Arg2"
          },
          "arg3": {
            "type": "string",
            "enum": [
              "A",
              "B"
            ],
            "title": "Arg3"
          },
          "arg4": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "enum": [
                  "A",
                  "B"
                ]
              }
            ],
            "title": "Arg4"
          }
        },
        "type": "object",
        "required": [
          "arg1",
          "arg2",
          "arg3",
          "arg4"
        ],
        "title": "WithTypehintInput"
      },
      "WithTypehintOut": {
        "properties": {
          "body": {
            "type": "object",
            "title": "Body"
          }
        },
        "type": "object",
        "required": [
          "body"
        ],
        "title": "WithTypehintOut"
      }
    }
  }
}